form a {
	color: #2592C3;
}
body {
background-color: #f0f0f0;
}
form {
font-size: 1.4em;
width: 280px;
margin: 25px auto;
}
form input {display: block;}
form input[type='text'],form input[type='password'] {
width:230px;
padding:4px;
border: 3px solid #ccc;
margin-bottom: 20px;
font-size: 1.1em;
color: #333;
margin: 3px auto;
}
form input[type='checkbox'] {
display: inline;
}
form input[type='checkbox'] + label {
display: inline;
padding-left:0;
}

form input[type='submit'] {
	margin: 10px 0px 5px 20px;
}
form a {
	margin-left: 20px;
	line-height: 1.3em;
}
label {
font-weight: bold;
color: #444;
margin: 0px auto;
display: block;
padding-left: 4px;
}
#controlBar h2 {
 padding-top: 18px;
 padding-left: 15px;
 color: #eee;
 text-shadow: 0px 1px 0px #000;
 font-weight: normal;
}
.inputBG {
width: 250px;
position: relative;
margin: 0 auto;
padding: 15px 10px 10px 10px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;
}
	.inputBG.active {
	background-color: #444;	
	}
	#user_signin .inputBG.active input[type='text'], #user_signin .inputBG.active input[type='password'] {
	border:3px solid #F4A33F;
	}
	#user_new .inputBG.active input[type='text'],#user_new .inputBG.active input[type='password'] {
	border:3px solid #45B2EA;
	}
	
	.inputBG.active label {
	
	color: #eee;
	}
form #blaze {
	max-width: 280px;
	font-weight: bold;
	color: #222;
	min-height: 10px;
	background-color:#F5553A;
	border: 3px solid #D5251A;
	padding: 15px 10px;
	text-shadow: 0 1px 0 #FF754A;
	margin:10px auto;		
}	
	form #blaze.error {
		
	}
	form #blaze #close {
	border:2px solid #333333;
	float:right;
	color: #333;
	line-height:0.9em;
	padding:0 3px;
	position: relative;
	top:-2px;
	background-color: #FF754A;
	}
		form #blaze #close:hover {
			cursor: pointer;
		}
#error_explanation {
	max-width: 335px;
	font-weight: bold;
	color: #252525;
	min-height: 10px;
	background-color:#F5B5BA;
	border: 3px solid #F5354A;
	padding: 12px 8px;
	margin:10px auto;		
}
	#error_explanation h2 {
		font-size: 1.1em;
	}
	#error_explanation ul {
	font-weight: normal;
	padding-left: 5px;
	list-style-type: none;
	}
	#error_explanation ul li {
	padding-top: 5px;
	}
